@import url('https://fonts.googleapis.com/css2?family=Fredoka+One:wght@400&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: auto;
}

body {
  font-family: 'Inter', -apple-system, BlinkMacSystemFont, sans-serif;
  background-color: #fffdf1ff;
  color: #234374;
  overflow-x: hidden;
}

#smooth-wrapper {
  overflow: hidden;
}

#smooth-content {
  overflow: visible;
}
